/* Slider */
.ui-slider-horizontal {
    height: 8px;
    width: 250px;
}
.ui-slider .ui-slider-handle {
    height: 20px;
    width: 5px;
    padding-left: 5px;
}    

/* Selectmenu */
#sm_content-button {
  width: 100px !important;
}